<p id="notice"><%= notice %></p>

<h1>Tests2s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests2s.each do |tests2| %>
      <tr>
        <td><%= tests2.title %></td>
        <td><%= tests2.content %></td>
        <td><%= link_to 'Show', tests2 %></td>
        <td><%= link_to 'Edit', edit_tests2_path(tests2) %></td>
        <td><%= link_to 'Destroy', tests2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tests2', new_tests2_path %>
