<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tests2.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tests2.content %>
</p>

<%= link_to 'Edit', edit_tests2_path(@tests2) %> |
<%= link_to 'Back', tests2s_path %>
