<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testss.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @testss.content %>
</p>

<%= link_to 'Edit', edit_testss_path(@testss) %> |
<%= link_to 'Back', testsses_path %>
