<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tw_application</title>
</head>
<body>
    <header>
        <h1>Edit Post</h1>
    </header>
    <% if @post.errors.any? %>
        <div class="error_messages">
            <h2>Error</h2>
            <ul>
                <% @post.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
            </ul>
        </div>
    <% end %>
<%= form_with model: @post, local: true, html: { class: "form_container" } do |form| %>
        <div class="form_input">
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
        <div class="form_input">
            <%= form.label :content %>
            <%= form.text_area :content %>
        </div>
<div class="button_send">
    <%= form.submit "edit", class:"link_button"%>
    <div class="link_another_button"><%= link_to("back","/posts")%></div>
    </div>
<% end %>
    <footer>
    <small>
        つぶやきマウス
    </small>
    </footer>
</body>
</html>
